<header ng-controller="AuthCtrl" ng-cloak>
    <h4 class="go-figure"><a href="/">新塘春茶</a></h4>

    <a href="" class="nav-menu-btn glyph-sprite nav-menu" title="menu" ng-click="showMenu()" click-elsewhere="closeNavDropDown()">
        <span>请登录</span>
    </a>
    <!--<div class="menu-list-container" ng-show="viewMenu">-->
        <!--<ul>-->
            <!--<li><a ng-href="{{myOrderLink}}" class="glyph-sprite nav-home">首页</a></li>-->
            <!--<li><a href="{{loginLink}}" class="glyph-sprite nav-signout">登录</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="shopping-cart">
        <img class="ci-left" id="shopping-cart" src="/images/shopping-cart.png" alt="Shopping Cart" aria-hidden="true" itemprop="image">
        <i class="ci-count" id="shopping-amount" ng-if="showAmount">{{amount}}</i>
    </div>

</header>
