<section id="content">
    <div class="container">

        <div class="block-header">
            <h2>孙伟 - Wayde Sun <small>Web, Mobile/iOS, WeChat Developer</small></h2>
        </div>

        <div class="card" id="profile-main">
            <div class="pm-overview c-overflow">
                <div class="pmo-pic">
                    <div class="p-relative">
                        <a href="#">
                            <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
                        </a>

                        <div class="dropdown pmop-message">
                            <a data-toggle="dropdown" href="#" class="btn bgm-white btn-float z-depth-1">
                                <i class="md md-message"></i>
                            </a>

                            <div class="dropdown-menu">
                                <textarea ng-model="$parent.message" placeholder="我想说..."></textarea>

                                <button ng-click="send()" class="btn bgm-green btn-icon"><i class="md md-send"></i></button>
                            </div>
                        </div>
                    </div>


                    <div class="pmo-stat">
                        <h2 class="m-0 c-white">{{totalMessageNumber}}</h2>
                        收到总的留言数
                    </div>
                </div>

                <div class="pmo-block pmo-contact hidden-xs">
                    <h2>Contact</h2>

                    <ul>
                        <li><i class="md md-email"></i> wayde.sun@gmail.com</li>
                        <li><i class="socicon socicon-skype"></i> wayde191</li>
                        <li><i class="socicon socicon-github"></i> wayde191 (github.com/wayde191)</li>
                        <li><i class="socicon socicon-twitter"></i> @wayde191</li>
                        <li>
                            <i class="md md-location-on"></i>
                            <address class="m-b-0">
                                Wuhan, Hubei, China
                            </address>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified">
                    <li class="active waves-effect"><a>关于</a></li>
                </ul>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="md md-equalizer m-r-5"></i> 自述</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            追求自由，热爱生活。爱玩游戏，嬉笑怒骂。喜欢自然，莺莺绿绿。偏爱技术，自主创新。乐于实干，跬步千里。相信幻想，游离科学。这就是我，一个爱折腾的普通好市民。
                        </div>
                    </div>
                </div>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="md md-person m-r-5"></i> 基本信息</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>全称</dt>
                                <dd>Wayde Sun</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>生日</dt>
                                <dd>1985年5月</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>行业</dt>
                                <dd>互联网</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>语言</dt>
                                <dd>iOS, Clojure, Web, Ruby</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>官网</dt>
                                <dd>www.ihakula.com</dd>
                            </dl>
                        </div>
                    </div>
                </div>


                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="md md-phone m-r-5"></i> 联系信息</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>微信</dt>
                                <dd>@wayde191</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>QQ</dt>
                                <dd>254917567</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>移动电话</dt>
                                <dd>请先发送邮件并留下联系方式，我会主动回复我的电话号码，谢谢</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>电子邮箱</dt>
                                <dd>wayde.sun@gmail.com</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>