<section id="content">

    <div class="container">
        <div class="card" ng-repeat="item in jokes">
            <div class="card-header">

                <div class="lvh-label">
                    <div class="lv-avatar pull-left">
                        <img ng-src={{item.joke.img}} alt="">
                    </div>
                </div>

                <h2>{{item.joke.title}}
                    <small>{{item.joke.wap_title}}</small>
                </h2>
                <ul class="actions" ng-show="notExist">
                    <li>
                        <a href="#">
                            <i class="md md-cached"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="md md-file-download"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="#">Change Date Range</a>
                            </li>
                            <li>
                                <a href="#">Change Graph Type</a>
                            </li>
                            <li>
                                <a href="#">Other Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card-body card-padding">
                <p class="lead">{{item.joke.intro}}</p>

                <div class="row">
                    <div class="col-sm-6 col-md-6" ng-repeat="item in item.detail">
                        <div class="thumbnail">
                            <img ng-src={{item.img}} alt="">
                            <div class="caption">
                                <p>{{item.intro}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card" ng-show="dataLoaded">
            <div class="card-body">
                <div class="listview">
                    <a class="lv-footer" ng-click="loadMore()">{{loadingMoreText}}</a>
                </div>
            </div>
        </div>

    </div>

</section>