<section id="content">
  <div class="container">

    <div class="card" ng-repeat="item in jokes">
      <div class="card-header">
        <h2>{{item.joke.title}} <small>{{item.joke.intro}}</small></h2>
        <ul class="actions">
          <li>
            <a href="#">
              <i class="md md-cached"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="md md-file-download"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown">
              <i class="md md-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="#">Change Date Range</a>
              </li>
              <li>
                <a href="#">Change Graph Type</a>
              </li>
              <li>
                <a href="#">Other Settings</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="card-body card-padding">
        <div class="row">

          <div class="col-sm-6 col-md-4" ng-repeat="item in item.detail">
            <div class="thumbnail">
              <img ng-src={{item.img}} alt="">
              <div class="caption">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-body">
        <div class="listview p-t-5">
          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/widgets/note4.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">Samsung Galaxy Note 4</div>
                <small class="lv-small">$850.00 - $1199.99</small>
              </div>
            </div>
          </a>

          <a class="lv-footer" href="#">
            更多...
          </a>
        </div>
      </div>

    </div>

  </div>
</section>