<aside id="sidebar">
    <div class="sidebar-inner">
        <div class="si-inner">
            <div class="profile-menu">
                <a href="#">
                    <div class="profile-pic">
                        <img src="img/profile-pics/1.jpg" alt="">
                    </div>

                    <div class="profile-info">
                        Malinda Hollaway

                        <i class="md md-arrow-drop-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="md md-settings-input-antenna"></i> Privacy Settings</a>
                    </li>
                    <li>
                        <a href="#"><i class="md md-settings"></i> Settings</a>
                    </li>
                    <li>
                        <a href="#"><i class="md md-history"></i> Logout</a>
                    </li>
                </ul>
            </div>

            <ul class="main-menu">
                <li class="active"><a href="index-2.html"><i class="md md-home"></i> Home</a></li>
                <li><a href="typography.html"><i class="md md-format-underline"></i> Typography</a></li>
                <li class="sub-menu">
                    <a href="#"><i class="md md-now-widgets"></i> Widgets</a>

                    <ul>
                        <li><a href="widget-templates.html">Templates</a></li>
                        <li><a class="active" href="widgets.html">Widgets</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#"><i class="md md-view-list"></i> Tables</a>

                    <ul>
                        <li><a href="tables.html">Normal Tables</a></li>
                        <li><a href="data-tables.html">Data Tables</a></li>
                        <li><a href="jqgrid.html">Grid Tables</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#"><i class="md md-my-library-books"></i> Forms</a>

                    <ul>
                        <li><a href="form-elements.html">Basic Form Elements</a></li>
                        <li><a href="form-components.html">Form Components</a></li>
                        <li><a href="form-examples.html">Form Examples</a></li>
                        <li><a href="form-validations.html">Form Validation</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#"><i class="md md-swap-calls"></i>User Interface</a>
                    <ul>
                        <li><a href="colors.html">Colors</a></li>
                        <li><a href="animations.html">Animations</a></li>
                        <li><a href="box-shadow.html">Box Shadow</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="alerts.html">Alerts</a></li>
                        <li><a href="notification-dialog.html">Notifications & Dialogs</a></li>
                        <li><a href="media.html">Media</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li><a href="other-components.html">Others</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#"><i class="md md-trending-up"></i>Charts</a>
                    <ul>
                        <li><a href="flot-charts.html">Flot Charts</a></li>
                        <li><a href="other-charts.html">Other Charts</a></li>
                    </ul>
                </li>
                <li><a href="calendar.html"><i class="md md-today"></i> Calendar</a></li>
                <li><a href="generic-classes.html"><i class="md md-layers"></i> Generic Classes</a></li>
                <li class="sub-menu">
                    <a href="#"><i class="md md-content-copy"></i> Sample Pages</a>
                    <ul>
                        <li><a href="profile-about.html">Profile</a></li>
                        <li><a href="list-view.html">List View</a></li>
                        <li><a href="messages.html">Messages</a></li>
                        <li><a href="login.html">Login and Sign Up</a></li>
                        <li><a href="404.html">Error 404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>