<aside id="sidebar">
    <div class="sidebar-inner">
        <div class="si-inner">
            <div class="profile-menu">
                <a href="#">
                    <div class="profile-pic">
                        <img src="img/profile-pics/0.jpg" alt="">
                    </div>

                    <div class="profile-info">
                        幽默必修课

                        <!--<i class="md md-arrow-drop-down"></i>-->
                    </div>
                </a>
            </div>

            <ul class="main-menu">
                <li class="active"><a href="/"><i class="md md-home"></i> 首页</a></li>
            </ul>
        </div>
    </div>
</aside>