<div class="tile-wrapper revenue">
    <div class="front" style="width:100%; height: 420px">
        <div class="revenue-table-container">
            <div class="cover-container">
                <img class="cover-image" ng-src={{coverImageUrl}} alt="Cover art" aria-hidden="true" itemprop="image">
            </div>

            <div class="info-box-top">
                <h1 class="document-title" itemprop="name">
                    <div class="id-app-title" tabindex="0">新茶</div>
                </h1>
                <div style="clear:both"></div>

                <div class="document-subtitles">
                    <div class="summary">
                        <div class="right-info">
                            <div class="comments">
                                <span class="instructions">累积评论:</span>
                                <span class="counter">80</span>
                            </div>
                        </div>

                        <div class="left-info">
                            <div class="price-summary">
                                <span>综 合 价:</span>
                                <strong class="price">￥150.00</strong>
                                <span>（会员特惠）</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>

                <div class="document-subtitles">
                    <div class="left-info">
                        配送信息：阳新县兴国镇  单笔订单不满200元，收运费10元
                    </div>
                    <div class="left-info">
                        <span>服务信息：由 </span>
                        <span class="logo">新塘春</span>
                        <span> 从综合农产发货，并提供售后服务</span>
                    </div>
                </div>
                <div style="clear:both"></div>

                <div class="document-subtitles">
                    <div id="choose-buttons">
                        <div class="choose-amount fl">
                            <div class="wrap-input">
                                <a class="btn-reduce" href="javascript:;" ng-click="reduce()">-</a>
                                <a class="btn-add" href="javascript:;" ng-click="increase()">+</a>
                                <input class="text" id="buy-num" ng-model="counter">
                            </div>
                        </div>
                        <div class="btn" id="choose-btn-append">
                            <a class="btn-append" id="InitCartUrl" ng-click="shopping()">加入购物车
                                <b></b>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>

                <div class="document-subtitles">
                    <div class="left-info">
                        温馨提示：支持7天无理由退货
                    </div>
                </div>
                <div style="clear:both"></div>

            </div>
        </div>
    </div>

</div>
