<div class="tile-wrapper revenue">
    <div class="front" style="width:100%; height: 420px">
        <div class="revenue-table-container">
            <div class="cover-container">
                <img class="cover-image" src={{coverImageUrl}} alt="Cover art" aria-hidden="true" itemprop="image">
            </div>

            <div class="info-box-top">
                <h1 class="document-title" itemprop="name">
                    <div class="id-app-title" tabindex="0">新茶</div>
                </h1>
                <div style="clear:both"></div>

                <div class="document-subtitles">
                    <div class="summary">
                        <div class="right-info">
                            <div class="comments">
                                <span class="instructions">累积评论</span>
                                <span class="counter">80</span>
                            </div>
                        </div>

                        <div class="left-info">
                            <div>
                                <span>综 合 价:</span>
                                <strong class="price">￥150.00</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>

                <div class="document-subtitles">
                    <div class="left-info">
                        相关配送信 息
                    </div>
                    <div class="left-info">
                        相关服务信息
                    </div>
                </div>
                <div style="clear:both"></div>

                <div class="document-subtitles">
                    <div class="left-info">
                        数量
                    </div>
                    <div class="left-info">
                        加入购物车
                    </div>
                </div>
                <div style="clear:both"></div>

                <div class="document-subtitles">
                    <div class="left-info">
                        提示信息
                    </div>
                </div>
                <div style="clear:both"></div>

            </div>
        </div>
    </div>

</div>
