[Unit]
Description=Northern Hemisphere Service
After=network.target

[Service]
Type=simple
User=northern-hemisphere-prod
ExecStart=/usr/bin/northern-hemisphere-prod
Restart=on-abort

[Install]
WantedBy=multi-user.target