.cash-balance{
	.front{
	  min-height:560px;
	  @media (min-width: $bp-small){
	  	min-height:0px;
	  }
	}
}
g.cash path {
  fill: none;
  stroke: $cash-color;
  stroke-width: $chart-path-width;
}

g.running-avg path {
  fill: none;
  stroke: $rolling-cash-color;
  stroke-width: $chart-path-width;
}

.small-cash-balance-chart {
 svg {
  height:100%;
  .y-axis-text {
    @include rem(font-size, 6px);
  }
  .axis {
	  path, line{
	  	stroke:#c6c6c6;
	  }
	  text{
		font-weight: normal;
		@include rem(font-size, 9px);
	  }
  }
 }
}

.small-cash-balance-chart{
	svg{
		text{
			@include rem(font-size, 10px);
		}
	}
}

.cash-table{
        font-size: 0.65rem;
        tr{
	        th{
	        	padding:6px 0px 6px 0px;
	        }
	        td{
            &:first-child{
              color:#ED599F;
              font-weight:bold;
            }
            &:nth-child(3){
  	        	position:relative;
  	  			  padding:6px 0px 6px 13px;
  	        }
          }
        }
}

.legend ul li {
  &.weekly-balance:before {
    background: $weekly-balance-color;
  }
}



.movementUpward{
  background: darken($header-bg,25%);
  width: 4px;
  height: 12px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 2px;
  margin-right:10px;
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #34969D;
    top: -6px;
    left: -4px;
    position: absolute;
  }
}
.movementDownward{
  background: darken($header-bg,25%);
  width: 4px;
  height: 11px;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 2px;
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #34969D;
    bottom: -7px;
    left: -4px;
    position: absolute;
  }
}
	
	

@media (min-width: $bp-small){
	.cash-table{
		display:none;
	}
}
@media (min-width: $bp-medium-gt) {
 .small-cash-balance-chart{
	svg{
		text{
			@include rem(font-size, 4px);
		}
	}

  }
 }
