.filters {
  margin-bottom: 10px;
  @extend %clearfix;

  @media only screen and (min-width : $bp-medium){
    margin-bottom:28px;
  }
  @media only screen and (min-width : $bp-small){
    margin-left:13px;
    margin-bottom:20px;
  }
  select {
    width: 100%;
  }
  .chosen-container-multi{
    .chosen-choices{
      padding:5px 5px 5px 5px;
    }
  }
  .search-choice{
    padding: 5px 20px 5px 5px !important;
    span {
      font-size:1.2em ;
    }
    .search-choice-close {
      top:6px !important;
    }
  }
  .search-field {
    input[type=text]{
       font-size:1.2em !important;
    }
  }
  .chosen-single{
    padding-top:7px;
    height:40px;
    div b {
      background-size: 76px 63px !important;
    }
    .search-choice-close{
      margin-top:7px;
    }
  }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -27px 3px;
  }
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
  height:auto;
}
.chosen-container .chosen-results li.highlighted{
  background-color:#1a73ba;
}
.chosen-container-single .chosen-single{
  border-radius:2px;
  background-image:none;
}

.chosen-container-active.chosen-with-drop .chosen-single{
 background-image:none;
}
.location-label{
  display: block;
  @include rem('font-size', 16px);
}
@media only screen and (min-width : $bp-medium) {
  .filters{
    width:560px;
    .chosen-container-multi .chosen-choices{
      background-image:none;
      border-radius:2px;
    }
  }
  .location-label{
    display: none;
  }
}
