.no-left-panel.chart-container{
    width: calc(100% - 40px);
    margin-left: 20px;
}

.headcount-page{
    .axis text{
        @include rem(font-size, 12px);
        @media (min-width: $bp-medium){
          @include rem(font-size, 9.5px);
        }
    }

    .filters{
        width:100%;
        @media (min-width: $bp-small){
            width:700px;
        }
    }

    .filter-chosen-wrapper{
        width:100%;
        @media (min-width: $bp-small){
            width:560px;
        }
    }

    .chart-container {
      .axis {
        path {
          stroke-width: 1.5px;
        }
      }

      .filter-chosen-wrapper {
        float:left;
      }

      .export-button-wrapper{
        float:right;
        top:30px;
        @media (min-width: $bp-medium){
          top:0px;
        }
      }
      .legend{
        display:block;
      }
    }

    .office-type-switcher .switcher-item label{
        width:95px;
    }

.drilldown{
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 400px;
  h3 {
    font-weight: 400;
  }

  .switcher{
    margin:0.5rem 0 2rem 0px;
    padding-bottom:0px;
    @extend %clearfix;
    text-align:right;
    .switcher-item{
      label{
        width:auto;
        padding:10px 20px;
        @include rem(font-size, 12px);
      }
    }
    .switcher-item-small{
      label{
        padding:5px 10px !important;
        @include rem(font-size, 10px);
      }
    }
  }

  .switcher-swap{
      @media (max-width: $bp-large){
          margin-left: 20px;
      }
      margin-left:545px;
    }

  .waterfall {
    display: inline-block;
    width:40%;
    @media (max-width: $bp-small){
      width: 100%;
    }
    vertical-align: top;
    svg {
      padding-top: 20px;
    }
    text{
      @include rem(font-size, 20px);
    }
    .axis {
      text{
        @include rem(font-size, 11px);
      }
    }
  }

  .name-list {
    display: inline-block;
    width:59%;
    @media (max-width: $bp-small){
      width: 100%;
    }
    padding-left:10px;
    padding-top:16px;
    ul {
      vertical-align: top;
      width: 20%;
      @media (max-width: $bp-small){
        width: 19%;
        margin-right: 15px;
      }
      margin-right: 20px;
      display:inline-block;
      li {
        word-break: break-word;
        margin-bottom: 10px;
        line-height: 105%;
        @include rem(font-size, 11px);
        list-style-type: none;
        @media (max-width: $bp-small){
            @include rem(font-size, 2px);
        }
      }
      li:first-child {
        font-weight: bold;
      }
      a {
        cursor: pointer;
        @include rem(font-size, 11px);
        color: #57B5BC;
      }
    }
  }

  .headcount-waterfall{
    text{
      font-size: 11px;
      text-anchor: middle;
    }
    .ps{
      fill:$ps-headcount;
    }
    .ops{
      fill:$ops-headcount;
    }
  }
}
.drilldown{
  h4{
    color:#949494;
    @include rem(font-size, 14px);
    font-weight:normal;
  }
  mark{
    color:#57B5BC;
    background:none;
    display:inline-block;
  }
}

.headcount-drilldown{
  margin-top: 20px;
  overflow: auto;
  overflow-y: hidden;
  padding-bottom: 12px;

 @extend %disableTextSelection;

  .ps-daily-headcount{
    path{
      fill: #1c73ba;
      stroke:$ps-plan-headcount;
      }
    }

    .ops-daily-headcount{
    path{
      fill: #EF5BA1;
      stroke:$ops-plan-headcount;
      }
    }
}

.headcount-chart{
  .chart {
    padding-bottom: 0;
  }
    position:relative;
    display: inline-block;
    width:100%;

    .axis text {
        @include rem(font-size, 12px);
        letter-spacing:0.8px;
        @media (min-width: $bp-small){
            @include rem(font-size, 9px);
        }
    }
    .headcount-ps-plan{
        circle{
            fill:$ps-plan-headcount;
        }
        path{
            fill: none;
            stroke:$ps-plan-headcount;
       }
    }
    .headcount-ops-plan{
        circle{
            fill:$ops-plan-headcount;
        }
        path{
            fill: none;
            stroke:$ops-plan-headcount;
       }
    }

    .avg-ps-headcount{
        rect{
            fill:$ps-headcount;
        }
    }
    .avg-ops-headcount{
        rect{
            fill:$ops-headcount;
        }
    }

    .legend{
        li{
            padding: 0 8px 0 20px;
            &:before{
                height:10px;
                width:10px;
                left:0px;
                top:4px;
            }
            &.ps-plan,&.ops-plan {
            &::before{
                height:2px;
                width: 17px;
                top:8px;
                left:0px;
            }}
            &.ps-headcount:before{
                background:$ps-headcount;
                content: '';
            }
            &.ops-headcount:before{
                background:$ops-headcount;
                content: '';
            }
            &.ps-plan:before{

                background:$ps-plan-headcount;
                content: '';
            }
            &.ops-plan:before{
                background:$ops-plan-headcount;
                content: '';
            }
        }
    }
}
}


.headcount-tabs{
  .tab-container {
    background-color: white;
    padding-left: 25px;
    padding-top: 25px;
  }

  .sunburst-container{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 500px;
    height: 500px;
    @media (max-width: $bp-large){
        width: 350px;
        height: 350px;
        margin-bottom: 10px;
        margin-top: -20px;
    }
    .total{
      .value{
          @media (max-width: $bp-large){
              @include rem(font-size, 20px);
          }
          @include rem(font-size, 40px);
      }


      font-weight: 300;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      margin-left: -100px;
      margin-top: -25px;
      text-align: center;
      }
  }

  .sunburst-legend {
    display: inline-block;
    vertical-align: top;

    ul {
      display: inline-block;
      vertical-align: top;
      list-style: none;
      margin-left: 40px;

      li {
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.75rem;
        color:#fff;
        border: 1px solid #88C0E7;
        padding-left: 0px;
        height: 25px;

        #legend-color{
            width: 2em;
            height: 100%;
            float: left;
        }
        #legend-text{
            display: inline-block;
            color: black;
            vertical-align: middle;
            padding-left: 0.4em;
        }
      }
    }
  }

  tabset{
    background: $connector-color;
    margin:-10px -6px 30px -22px;
    padding:0px 0px 0px;
    display:block;
  }

  .tabs{
      padding:0px;
      padding-top:15px;
      li{
        display:inline-block;
        a{
          padding:10px 7px;
          display: inline-block;
          @media (min-width: $bp-medium){
            padding:10px 15px;
          }
        }

        margin-right:10px;
        @include rem(font-size, 12px);
        background:darken($connector-color,10%);
        &:hover{
          cursor:pointer;
        }
        &:first-child{
          margin-left: 28px;
        }
        &.active{
          position:relative;
          top:1px;
          background:#fff;
          border-left:1px solid #f1f1f1;
          border-right:1px solid #f1f1f1;
          border-top:1px solid #f1f1f1;
          &:hover{
            cursor:default;
          }
        }
      }

  }
}
