
.body-wrapper{
  position:relative;
  min-height:calc(100% - 56px);
  @media (min-width: $bp-large){
    height:100%;
  }

}

ul.tiles {
    @include nostyle();
    width: 100% ;
    margin:20px auto;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content:center;
    -webkit-flex-direction: row;
    position:relative;
    flex-direction: row;
  }
  .tile {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction:column;
    position: relative;
    text-align: left;
    margin:0 0.5% 20px;
    width: 95%;
    flex-direction: column;
    -webkit-flex-direction: column;
    max-width:960px;
    min-height:330px;
    .tile-date-info{
          padding:7px 0px 5px;
          @include rem(font-size, 14px);
    }
  }

  @media (min-width: $bp-small) {
    .tile {
      min-height:400px;
      width: 960px;
    }
  }
