
// custom mixins
@mixin nostyle(){
  list-style-type:none;
  margin:0;
  padding:0;
}
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin icon-style(){
  text-indent:-999em;
  overflow:hidden;
  display:inline-block;
  border:0;
  width:32px;
  height:32px;
}

@mixin img-icon{
  overflow:hidden;
  text-indent:-9999px;
  display:inline-block;
}

// Vendor specific CSS
@mixin transition($what: all, $length: 1s, $easing: ease-in-out){
  -moz-transition:    $what $length $easing;
  -o-transition:      $what $length $easing;
  -webkit-transition: $what $length $easing;
  -ms-transition:     $what $length $easing;
  transition:         $what $length $easing;
}

@mixin transform($params){
  -webkit-transform: $params;
  -moz-transform:    $params;
  transform:         $params;
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)){
  text-shadow: $x $y $blur $color;
}

@mixin opacity($opacity: 0.5){
  filter:         alpha(opacity=($opacity * 100));
  -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
  -moz-opacity:   $opacity;
  -khtml-opacity: $opacity;
  opacity:        $opacity;
}

@mixin flex($value: 1){
  -webkit-box-flex: $value;
  -moz-box-flex:    $value;
  box-flex:         $value;
}

@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)){
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow:    $x $y $blur $color;
  box-shadow:         $x $y $blur $color;
}

@mixin border-radius($radius: 5px){
  -moz-border-radius:    $radius;
  -webkit-border-radius: $radius;
  border-radius:         $radius;
}

@mixin arrow($dir,$size){
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    @if $dir == 'top' {
        border-bottom: $size solid #7cced4;
        border-top: 0px solid #7cced4;
    } @else if $dir == 'down' {
        border-top: $size solid #7cced4;
        border-bottom: 0px solid #7cced4;
    }
}

@mixin triangleIsosceles($dir,$size1,$size2){
    height: 0;
    border-style: solid;

    @if $dir == 'top' {
        border-width: 0 $size2 $size1 $size2;
        border-color: transparent transparent #007bff transparent;
    } @else if $dir == 'down' {
        border-width: $size1 $size2 0 $size2;
        border-color: #007bff transparent transparent transparent;
    }
}
