.revenue-table-container {
  color: #666;
  font-size: 80%;

  .cover-container {
    display: inline-block;
    float: none;
    margin: 25px 25px 0 25px;
  }

  .cover-container .cover-image {
    width: 350px;
    height: 350px;

    @media (min-width: $bp-small) and (max-width: $bp-medium-lt) {
        width: 200px;
        height: 200px;
    }
  }

  .info-box-top {
    box-sizing: border-box;
    min-height: 200px;
    padding-bottom: 59px;
    vertical-align: top;
    display: inline-block;
    white-space: normal;
    width: 465px;

    .document-title {
      color: #212121;
      font-size: 30px;
      margin: 25px 30px 10px 0;
      font-weight: 300;
      line-height: 35px;
      white-space: normal;
    }

    .document-subtitles {
      margin-bottom: 10px;

      .right-info {
        color: #616161;
        float: right;
      }

      .left-info {
        text-align: left;

        .price-summary {
          padding-left: 20px;
          font-size: 110%;
        }
      }

      .price {
        display: inline-block;
        vertical-align: middle;
        color: #e4393c;
        font-size: 20px;
      }

      .logo {
        color: #e4393c;
      }

      .summary {
        padding-top: 10px;
        padding-bottom: 0;
        padding-right: 30px;
        height: 50px;
        line-height: 30px;
        background: #f7f7f7;
      }

      .comments {
        border-left: solid 1px #e6e6e6;
        text-align: center;
        padding: 0 10px;
        margin-top: 7px;
        line-height: 15px;
      }

      #choose-buttons {
        margin: 0;
        float: left;
        width: 578px;
        padding: 10px 0 8px 10px;
        border-bottom: none;

        .choose-amount {
          width: 49px;
          height: 34px;
          overflow: hidden;
          border: 1px solid #ccc;
          position: relative;
          margin: 8px 10px 0 0;

          a.btn-reduce {
            bottom: -1px;
          }
          a.btn-add {
            top: -1px;
          }

          input {
            display: block;
            width: 31px;
            height: 32px;
            line-height: 32px;
            position: absolute;
            top: 1px;
            left: 0;
            border: none;
            border: 0;
            text-align: center;
          }

          a {
            white-space: nowrap;
            text-decoration: none;
            display: block;
            width: 15px;
            text-align: center;
            height: 17px;
            line-height: 17px;
            overflow: hidden;
            background: #f1f1f1;
            color: #666;
            position: absolute;
            right: -1px;
            border: 1px solid #ccc;
          }
        }
        .fl {
          float: left;
        }

        .btn {
          float: left;
          height: 38px;
          margin-top: 8px;
          margin-bottom: 5px;

          a {
            float: left;
            margin-right: 6px;
            overflow: hidden;
            position: relative;
            font: 400 18px/38px "microsoft yahei";
            text-align: center;
            color: #e4393c;
            line-height: 38px;

            b {
              background: url(../images/p-btns.png) no-repeat 0 0;
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              cursor: pointer;
            }
          }
        }

        .btn-append {
          width: 137px;
          height: 38px;

          b {
            background-position: 0 0;
          }
        }
      }
    }
  }
}

.chosen-container {
  width: 100% !important;
}
.chart-container{


  .revenue-value{
    display:inline-block;
  }

  #revenue-chart {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .head{
      .revenue-date{
        color:#818181;
        @include rem(font-size, 14px);
        @media (min-width: $bp-small){
          display:inline-block;
          margin-top:6px;
          margin-left:10px;
          @include rem(font-size, 16px);
        }
      }
  }

  #revenue-chart {
    position: relative;
    display: inline-block;
    width: 100%;
    .legend-btn {
      top: -30px;
    }
  }

  .legend-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 85px;
    background: url(../images/legend.jpg) 5px 4px #E5E5E5 no-repeat;
    background-size: 25px 19px;
    cursor: pointer;
    @include rem(font-size, 12px);
    color: #555;
    padding: 6px 0px;
    padding-left: 35px;
  }
 
  .legend{
     display:none;
     .plan-label-show .plan-label{
        display: inline-block;
        font-weight: bold;
        margin-right: 10px;
        line-height: 22px;
     }
     li{
        padding: 0 8px 0 17px;
        display: inline-block;
        position: relative;
        @include rem(font-size, 11px);
        &:before{
          position: absolute;
          top: 8px;
          left: 0;
          content: "";
          display: block;
          width: 14px;
          height: 2;
          background: $atl-color;
        }
        &.plan-label{
          display:none;
        }
        &.atl,&.btl,&.actual,&.tofind,&.shortfall,&.atlUnassigned,&.asGoodAsSold{
           &::before{
           height: 10px;
           left: 0px;
           top: 3px;
           width: 10px;
         }
        }
        &.atl:before {
          background: $atl-color;
        }
        &.btl:before {
          background: $btl-color;
        }
        &.atlUnassigned:before {
          background: $unassigned-color;
        }
        &.asGoodAsSold:before {
          background: $as-good-as-sold-color;
        }
        &.actual:before {
          background: $actual-color;
        }
        &.plan{
          &:before {
            background: $plan-color;
          }
          .plan-text{
            background:#D7ECEE;
            padding: 0px 5px;
          }
        }
        &.gdf-variance-msg {
          display:none;
          @media (min-width: $bp-small) {
            display: inline-block;
          }
        }

        &.gdf-variance-msg:before{
           background: white;
           border-top: solid 2px;
           border-bottom: solid 2px;
           border-color: purple;
           width: 9px;
           height: 15px;
           top: 2px;
           left: 7px;
        }
        &.gdf-variance-msg:after{
           background: $gdf-color;
           height:14px;
           width:2px;
           display:inline-block;
           content:"";
           position: absolute;
           top: 2px;
           left: 11px;
        }
        &.gdf-historic:before {
          background: $gdf-color;
        }
        &.tofind:before {
          background: $tofind-color;
        }
        &.gdf:before {
          background: transparent;
          border-top-color: $gdf-color;
          border-top-style: dashed;
          border-top-width: $chart-path-width;
        }
        &.shortfall:before{
          background: $shortfall-color;
        }
      }
      &.legendExpand{
        display: block;
        ul{
          padding-left: 10px;
          li{
              padding:0 10px 0 20px;
              @include rem(font-size, 11px);
              
              &.plan-label{
                width: auto;
              }
              &.plan-label-show{
               margin-top:10px;
              }
          }
        }
    }
  }
  .accounts-filter {
    .legend li{
      &.tofind,
      &.shortfall,
      &.gdf-historic,
      &.gdf,
      &.gdf-variance-msg,
      &.plan{
        display:none;
      }
    }
  }
  #revenue-chart{
    .legendExpand{
      ul{
        li{
            width:122px;
             @media (min-width: $bp-small){
                width:auto;
            }
        }

      }
    }
  }

  .gdf-variance {
    display: none;
  }



  .treemap-container{
    position: relative;
    a{
        z-index: 9;
        width: 100%;
        height: 100%;
        color: #444;
        text-decoration: none;
        display:block;
        cursor:auto;
    }
    .depth{
        .has-link:hover{
            background: $treemap-children-hover-color;
            cursor:pointer;
        }
    }

    .grandparent g:first-child{
         cursor:auto;
    }
    .level0,.level1,.level2,.level3{
      cursor:pointer;
    }
    .spinner{
      position: absolute;
      top:30px;
      left:0px;
      right: 0px;
      display: none;
      opacity: 1;
      color:#000;
      background:rgba(0, 0, 0, 0.2);
    }
    .overlay {
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background: #000;
      z-index:999;
      display: none;
    }
  }
    
}
.axis {
    text {
      font-family: verdana,arial;
      @include rem(font-size, 18px);
      letter-spacing:-0.1px;
    }
    path, line {
      fill: none;
      stroke: #868686;
      shape-rendering: crispEdges;
    }
}
  g.btl rect {
    fill: $btl-color;
  }

  g.unassigned rect {
    fill: $unassigned-color;
  }

  g.asGoodAsSold rect {
    fill: $as-good-as-sold-color;
  }

  g.atl rect, g.atl-historic rect {
    fill: $atl-color;
  }

  g.btl text.current, g.atl text.current, g.atl-historic text.current, g.axis g.current text {
    font-weight: 700;
  }

  g.tofind rect {
    fill: $tofind-color;
  }

  g.shortfall rect {
    fill: $shortfall-color;
  }

  g.actual rect {
    fill: $actual-color;
  }

  g.labels text {
    @include rem(font-size, 10px);
  }

  g.actual text {
    fill: $actual-label-color;
  }

  g.btl text {
    fill: $btl-label-color;
  }

  g.atl text, g.atl-historic text {
    fill: $atl-label-color;
  }

  g.plan path {
    fill: none;
    stroke: $plan-color;
    stroke-width: $chart-path-width;
  }

  g.gdf-historic path {
    fill: none;
    stroke: $gdf-color;
    stroke-width: $chart-path-width;
  }

  g.gdf path {
    fill: none;
    stroke: $gdf-color;
    stroke-dasharray: 5,5;
    stroke-width: $chart-path-width;
  }

  g.plan circle {
    fill: $plan-color;
  }

  g.gdf-historic circle {
    fill: $gdf-circle-color;
  }

  g.gdf circle {
    fill: $gdf-circle-color;
  }
.small-revenue-chart{
   rect{
        &.atl{
                fill: $atl-color;
                font-weight: bold;
              }
        &.btl {
                fill: $btl-color;
                font-weight: bold;
             }
        &.to.find {
               fill: $tofind-color;
               font-weight: bold;
             }
        &.plan{
               fill: $plan-color;
               font-weight: bold;
               }
        &.gdf {
              fill: $gdf-color;
              font-weight: bold;
            }
   }
 .axis {
   text {
     @include rem(font-size, 13px);
   }
 }
}

.cp-small-revenue-chart{
  .layer:hover{
    opacity: 0.5;
    cursor: pointer;
  }

  .year-forecast{
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: -20px;
  }

 .axis {
   .btl, .btl-amount{
      fill: $btl-color;
    }
   .atl, .atl-amount {
     fill: $atl-color;
   }
   .actual, .actual-amount, .months {
     fill: $actual-color;
   }

    text{
      @include rem(font-size, 11px);
    }
   .tick text {
      @include rem(font-size, 9px);
    }
  }

 text {
    @include rem(font-size, 12px);
  }
 }
div.tooltip {
  text-align: center;
  position: absolute;
  width: auto;
  height: 40px;
  padding: 5px;
  font: 11px 'open sans';
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

@media (min-width: $bp-small) {
  .chart-container .gdf-variance {
    display: inline;
  }

  .chart-container{

    .legend-btn{
      display:none;
    }

    .legend{
      display:block;

      ul{
          display:inline-block;
          &:first-child{
            li:before{
              top: 3px;
              height: 10px;
              width: 10px;
              left: 3px;
            }
          }
      }
    }
    #revenue-chart{
      .legend{
        ul:last-child{
          li:before{
            top:9px;
          }
        }
      }
    }
  }

}
.chart-container {
  .export-button-wrapper{
    float:right;
    position: relative;
    @media (min-width: $bp-medium){
      top: -60px;
    }
  }
}

.filters-wrapper .filter-selection .filter-buttons {
    &.revenue {
        label {
            margin-bottom: 1.1em;
        }
    }
}