.infobox{
    position:fixed;
    background:#000;
    opacity:0.8;
    color:#B9B9B8;
    padding:5px 0px;
    width:155px;
    text-align:center;
    font-size: 12px;
    z-index:999;
    .current{
	color: #fff;
    }
}
.overlaychart{
    position:fixed;
    top:0px;
    bottom:0px;
    width:100%;
    height:100%;
    opacity:0.7;
    background:#000;
    display:none;
}

.utilisation-tooltip.infobox{
    width:168px;
}

.headcount-tooltip.infobox{
    width:120px;
}
