<section id="content">

    <div class="container">

        <div ng-show="dataLoaded" class="card">
            <div class="card-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a ng-click="topClicked(1)">
                                <img src="img/media/carousel/c-2.jpg" alt="">
                            </a>
                            <div class="carousel-caption">
                                <h3>{{tops[1]['title']['rendered']}}</h3>
                                <p>{{tops[1]['date'] | date:'yyyy/MM/dd @ h:mma'}}</p>
                            </div>
                        </div>
                        <div class="item">
                            <a ng-click="topClicked(0)">
                                <img src="img/media/carousel/c-1.jpg" alt="">
                            </a>
                            <div class="carousel-caption">
                                <h3>{{tops[0]['title']['rendered']}}</h3>
                                <p>{{tops[0]['date'] | date:'yyyy/MM/dd @ h:mma'}}</p>
                            </div>
                        </div>
                        <div class="item">
                            <a ng-click="topClicked(2)">
                                <img src="img/media/carousel/c-3.jpg" alt="">
                            </a>
                            <div class="carousel-caption">
                                <h3>{{tops[2]['title']['rendered']}}</h3>
                                <p>{{tops[2]['date'] | date:'yyyy/MM/dd @ h:mma'}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="md md-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="md md-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="listview lv-bordered lv-lg">
                <div class="lv-header-alt">
                    <h2 class="lvh-label hidden-xs">所有文章</h2>
                </div>

                <div class="lv-body">
                    <div class="lv-item media" ng-repeat="post in postsList">
                        <div class="checkbox pull-left">
                            <a href="#">
                                <img class="media-object" src="img/profile-pics/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body" ng-click="listClicked(post)">
                            <div class="lv-title" ng-bind-html="renderHtml(post['title']['rendered'])"></div>
                            <small ng-bind-html="renderHtml(post['excerpt']['rendered'])"></small>
                        </div>
                    </div>

                </div>
            </div>

            <ul class="pagination lv-pagination">
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <i class="md md-chevron-left"></i>
                    </a>
                </li>
                <li data-type="1" class="active"><a ng-click="pageSelected(1)">1</a></li>
                <li data-type="2"><a ng-click="pageSelected(2)">2</a></li>
                <li data-type="3"><a ng-click="pageSelected(3)">3</a></li>
                <li class="disabled">
                    <a href="#" aria-label="Next">
                        <i class="md md-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <!--Detail part-->
    <aside id="chat" style="width:100%; height: 100%; top:0; z-index: 20;" class="hidden">
        <button ng-click="hideDetail()"
                style="position: absolute; top: 10px; right: 10px; z-index: 10;"
                class="btn btn-default btn-icon waves-effect waves-button waves-float">
            <i class="md md-close"></i>
        </button>

        <ul class="tab-nav tn-justified" role="tablist">
            <li role="presentation" class="active"><a href="#friends" aria-controls="friends" role="tab" data-toggle="tab">详情</a></li>
            <li role="presentation"><a href="#online" aria-controls="online" role="tab" data-toggle="tab">评论</a></li>
        </ul>

        <div class="tab-content" style="height: 100%; padding-top: 0;">
            <div role="tabpanel" style="height: 100%; overflow: auto;"
                 class="tab-pane fade in active" id="friends">
                <div class="timeline">
                    <div class="t-view" data-tv-type="text">
                        <div class="tv-header media">
                            <a href="#" class="tvh-user pull-left">
                                <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
                            </a>
                            <div class="media-body p-t-5">
                                <strong class="d-block">{{selectedPost['title']['rendered']}}</strong>
                                <small class="c-gray">{{selectedPost['date'] | date:'yyyy/MM/dd @ h:mma'}}</small>
                            </div>
                        </div>
                        <div class="tv-body">
                            <div ng-bind-html="renderHtml(selectedPost['content']['rendered'])"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" style="height: 100%; overflow: auto;"
                 class="tab-pane fade" id="online">
                <div class="tv-comments">
                    <ul class="tvc-lists">

                        <li class="media" ng-repeat="comment in selectedComments">
                            <a class="tvh-user pull-left">
                                <img class="img-responsive" ng-src={{comment['author_avatar_urls']['48']}} alt="">
                            </a>
                            <div class="media-body">
                                <a class="tvc-more pull-right" ng-href={{comment.link}}><i class="md md-comment"></i>回复</a>
                                <strong class="d-block">{{comment['author_name']}}</strong>
                                <small class="c-gray">{{comment['date'] | date:'yyyy/MM/dd @ h:mma'}}</small>
                                <div class="m-t-10" ng-bind-html="renderHtml(comment['content']['rendered'])"></div>

                                <div ng-repeat="child in comment.children">
                                    <comment family="child"></comment>
                                </div>
                            </div>
                        </li>

                        <li class="p-20">
                            <a ng-href="{{selectedPost.link + '#commentform'}}">
                                <button class="m-t-15 btn btn-primary btn-sm waves-effect waves-button waves-float">发表评论</button>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <!--<div class="load-more">-->
                    <!--<a href="#"><i class="md md-refresh"></i> 加载更多...</a>-->
                <!--</div>-->
            </div>
        </div>
    </aside>

</section>