<aside id="sidebar">
    <div class="sidebar-inner">
        <div class="si-inner">
            <div class="profile-menu">
                <a href="#">
                    <div class="profile-pic">
                        <img src="img/profile-pics/010.png" alt="">
                    </div>

                    <div class="profile-info">
                        滨湖社区
                    </div>
                </a>
            </div>

            <ul class="main-menu">
                <li class="active" data-type="home"><a href="/joke.html#/"><i class="md md-home"></i> 首页</a></li>
                <li class="" data-type="calculator"><a href="/joke.html#/page/calculator"><i class="md md-subtitles"></i> 计算</a></li>
                <li class="" data-type="feedback"><a href="/joke.html#/page/feedback"><i class="md md-comment"></i> 反馈</a></li>
                <li class="" data-type="about"><a href="/joke.html#/page/about"><i class="md md-info"></i> 作者</a></li>
                <li class="" data-type="privacy"><a href="/joke.html#/page/privacy"><i class="md md-book"></i> 协议</a></li>
            </ul>
        </div>
    </div>
</aside>