<div>
    <!-- ui-dialog -->
    <div class="ui-dialog"
         ng-style="{'width' : dialog.width, 'top' : dialog.top, 'left' : dialog.left, 'position' : 'absolute', 'z-index' : '10000', 'display' : 'block', 'overflow' : 'hidden'}">
        <div class="ui-dialog-title" style="width: 670px;"><span>新增收货人信息</span></div>
        <div class="ui-dialog-content" style="height: 358px; width: 670px; overflow: hidden;">

            <div class="form" id="consignee-form" name="consignee-form">
                <div class="item" id="name_div">
                    <span class="label"><span style="color:red">*</span>&nbsp;收货人：</span>

                    <div class="fl">
                        <input type="text" class="itxt" id="consignee_name" name="consigneeParam.name" maxlength="20"
                               value="">
                    </div>
                </div>

                <div class="item">
                    <span class="label" id="address_div"><span style="color:red">*</span>&nbsp;详细地址：</span>

                    <div class="fl">
                        <!--span id="areaNameTxt"></span-->
                        <input type="text" class="itxt itxt02" id="consignee_address" name="consigneeParam.address"
                               maxlength="50" onblur="check_Consignee('address_div')" value="">
                    </div>
                </div>
                <div class="item" id="call_div">
                    <span class="label"><span style="color:red">*</span>&nbsp;手机号码：</span>

                    <div class="fl">
                        <input type="text" class="itxt " id="consignee_mobile" name="consigneeParam.mobile"
                               onblur="check_Consignee('call_mobile_div')" onfocus="if(value == defaultValue){value='';}"
                               maxlength="11" value="">
                    </div>
                    <div class="fl">
                        <span class="label">固定电话：</span>
                        <input type="text" class="itxt " id="consignee_phone" name="consigneeParam.phone"
                               onblur="check_Consignee('call_phone_div')" onfocus="if(value == defaultValue){value='';}"
                               maxlength="20" value="">
                    </div>
                </div>
                <div class="item" id="email_div">
                    <span class="label">邮箱：</span>

                    <div class="fl">
                        <input type="text" class="itxt" id="consignee_email" name="consigneeParam.email" maxlength="50"
                               onblur="check_Consignee('email_div')" value=""
                               onfocus="if(value == defaultValue){value='';}">

                        <div class="ftx-03">用来接收订单提醒邮件，便于您及时了解订单状态</div>
                    </div>
                </div>

                <div class="item">
                    <span class="label">&nbsp;</span>

                    <div class="fl">
                        <a href="http://trade.jd.com/shopping/dynamic/consignee/editConsignee.action?t=1465036252476#none"
                           class="btn-9" onclick="save_Consignee()"><span id="saveConsigneeTitleDiv">保存收货人信息</span></a>

                    </div>
                </div>

            </div>
        </div>
        <a class="ui-dialog-close" title="关闭" ng-click="onCloseBtnClicked()"><span class="ui-icon ui-icon-delete"></span></a></div>

    <div class="ui-mask"
         ng-style="{'width' : dialogMask.width, 'height' : dialogMask.height, 'opacity' : '0.15', 'position' : 'absolute', 'top' : '0px', 'left' : '0px', 'z-index' : '9998', 'display' : 'block', 'background-color' : 'rgb(0, 0, 0)'}">

    </div>

</div>